* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.body {
    display: flex;
    height: 100%;
}


.header {
    font-size: 50px;
    margin-top: 2rem;
}

.subheader {
    display: block;
    font-size: 36px;
    padding-top: 1rem;
    min-height: 3rem;
}


.round {
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 50px;
}

.modal { 
    background: white;
    display: flex;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    padding: 6rem;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem black;
}

.overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
 
    
    }

.hidden {
    display: none;
}

.scores {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    font-size: 100px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    margin-top: -5rem;
    
}

.button {
    display: flex;
    cursor: pointer;
    font-size: 150px;
    transition: .5s;
}

.button:hover{
    scale: 1.3;
}

.header, .subheader, .results{
    height: auto;
    text-align: center;
}

.results {
    font-size: 36px;
}